.cart {

	.price_color, .availability{
		padding: 10px 0;
		font-size: 26px;
		font-weight: bold;
		text-transform: lowercase;
	}

	.available{
		color: green;
	}

	.instock{
		color: green;
	}

	&__content {
		margin-top: 30px;
		@media (min-width: 1200px) {
			display: flex;
		}
	}

	&__wrapper {
		@media (min-width: 1200px) {
			flex-direction: column;
		}
	}

	&__img {
		width: 100%;
		height: auto;

		@media (min-width: 768px) {
			width: 650px;
			height: 480px;
		}

		@media (max-width: 1024px) {
			padding-bottom: 30px;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&:not(:last-child) {
			margin-bottom: 50px;
		}
	}

	&__right {
		margin-top: 40px;

		@media (min-width: 1200px) {
			padding-left: 110px;
		}
	}

	&__form {
		margin-top: 40px;

		.color-select {
			justify-content: flex-start;
			padding: 10px 0;
			border-top: 1px solid #E8E5E6;
			border-bottom: 1px solid #E8E5E6;
		}

		.color-select__list {
			margin-left: 30px;

			@media (min-width: 1250px) {
				margin-left: 50px;
			}
		}
	}

	&__numbers {
		font-size: 17px;
		letter-spacing: 0.4px;
		color: #9B9598;
	}

	&__subtitle {
		font-weight: 700;
		font-size: 20px;
		line-height: 1.5;
		margin: 15px 0;

		@media (min-width: 576px) {
			font-size: 44px;
			margin: 15px 0 25px;
		}
	}

	&__text {
		font-size: 14px;
		line-height: 1.5;

		@media (min-width: 576px) {
			font-size: 20px;
		}
	}

	&__bottom {
		margin-top: 40px;

		@media (min-width: 576px) {
			margin-top: 80px;
		}
	}

	&__info {
		&:not(:last-child) {
			margin-bottom: 25px;
		}
	}

	&__desc {
		font-weight: 700;
		font-size: 26px;
		line-height: 1.5;
		margin-bottom: 10px;
	}

	&__list {
		li {
			list-style: disc inside;
			font-size: 14px;
			line-height: 1.5;

			@media (min-width: 576px) {
				font-size: 20px;
			}
		}
	}

	&-size {
		display: flex;
		align-items: center;
		padding: 10px 0;
		border-bottom: 1px solid #e8e5e6;
		margin-bottom: 30px;

		@media (min-width: 576px) {
			margin-bottom: 50px;
		}

		&__name {
			font-size: 18px;
			font-weight: 700;
			text-transform: lowercase;
			color: #000;

			@media (min-width: 576px) {
				font-size: 26px;
			}
		}

		&__numbers {
			display: flex;
			margin-left: 40px;
			text-align: center;
			position: relative;

			@media (min-width: 1250px) {
				margin-left: 70px;
			}

			a, span{
				transition: all ease 250ms;
				font-style: normal;
				letter-spacing: 1px;
				font-size: 14px;
				display: block;
				color: #9B9598;

				@media (min-width: 576px) {
					font-size: 20px;
				}

				&:not(:last-child){
					margin-right: 13px;
				}
			}

			a:hover{
				color: black;
			}
		}

		&__guide {
			margin-left: auto;
			font-size: 14px;
			color: $color-orange;
			text-decoration: underline;
			cursor: pointer;
			text-transform: lowercase;

			@media (min-width: 576px) {
				font-size: 20px;
			}

			@media (max-width: 575px) {
				text-align: center;
				margin-top: 10px;
			}

			&:hover {
				text-decoration: none;
			}
		}
	}

	&__btn {
		width: 100%;
	}

	&__more {
		text-align: center;

		p {
			font-size: 20px;
			line-height: 30px;

			@media (max-width: 1024px) {
				font-size: 14px;
				line-height: 21px;
			}
		}

		&-text {
			text-align: left;

			&--hide {
				display: none;
				overflow: hidden;
				margin-bottom: 15px;
				@media (min-width: 1024px){
					display: block;
				}
			}
		}

		&-btn {
			position: relative;
			display: inline-block;
			font-weight: 700;
			font-size: 12px;
			line-height: 23px;
			text-align: center;
			text-transform: lowercase;
			color: $color-orange;
			padding-right: 20px;
			margin-top: 20px;
			cursor: pointer;

			&::before {
				content: '';
				background-image: url('../img/arrow-down-2.svg');
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);
				width: 9px;
				height: 4px;
			}
		}
	}

	.cart__more-btn {
		display: none;

		@media (max-width: 1024px) {
			display: inline-block;
		}
	}

	.modal {

		&-dialog {
			position: absolute;
			width: 100%;
			right: 0;
			max-width: 585px;
			margin: 0;
		}

		&-content {
			border-radius: 0;
			border: none;
			height: 100%;

			@media (max-width: 575px) {
				border-radius: 20px;
			}
		}

		&-header {
			padding: 50px 20px 0;
			border: none;
		}

		&-title {
			font-weight: 700;
			font-size: 20px;
			color: $color-orange;
			text-transform: lowercase;

			@media (min-width: 576px) {
				font-size: 44px;
				margin: auto;
			}
		}

		&-close {
			&::before {
				content: '';
				background-image: url('../img/close.svg');
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				position: absolute;
				top: 20px;
				right: 20px;
				width: 50px;
				height: 50px;

				@media (max-width: 575px) {
					top: -45px;
					right: 0;
					width: 30px;
					height: 30px;
					filter: brightness(50);
				}
			}
		}

		&-footer {
			@media (min-width: 576px) {
				padding: 30px 80px;
			}

			.btn {
				width: 100%;
			}
		}

		&.fade .modal-dialog {
			transform: translate(100%, 0);

			@media (max-width: 575px) {
				padding: 60px 15px;
			}
		}

		&.show .modal-dialog {
			transform: none;
		}
	}
}

.cart__more-btn.active::before{
	content: '';
	background-image: url('../img/arrow-up-2.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	width: 9px;
	height: 4px;
}

.modal-table {
	width: 100%;
	max-width: 425px;
	margin: auto;
	border: 1px solid #E8E5E6;
	border-spacing: 0;
	border-radius: 20px;

	th {
		width: 140px;
		font-size: 14px;
		font-weight: 700;
		color: $color-orange;
		text-transform: uppercase;
		padding: 15px 0;
		border-bottom: 1px solid #E8E5E6;

		@media (min-width: 576px) {
			font-size: 20px;
			padding: 20px 0;
		}

		@media (min-width: 992px) {
			padding: 30px 0;
		}

		&:not(:last-child) {
			border-right: 1px solid #E8E5E6;
		}
	}

	tbody {
		tr {
			&:first-child {
				td {
					padding-top: 20px;

					@media (min-width: 576px) {
						padding-top: 40px;
					}
				}
			}
		}
	}

	td {
		font-size: 14px;
		font-weight: 700;
		color: #000;
		text-align: center;
		padding-bottom: 15px;

		@media (min-width: 576px) {
			font-size: 20px;
			padding-bottom: 30px;
		}

		&:not(:last-child) {
			border-right: 1px solid #E8E5E6;
		}
	}
}