@font-face {
	src:
		url('../../fonts/Weestep-Regular.woff') format('woff'),
		url('../../fonts/Weestep-Regular.woff2') format('woff2');
	font-family: 'Weestep';
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	src:
		url('../../fonts/Weestep-Bold.woff') format('woff'),
		url('../../fonts/Weestep-Bold.woff2') format('woff2');
	font-family: 'Weestep';
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
