{% extends "oscar/communication/emails/base.html" %}
{% load currency_filters i18n %}
{% load checkout_custom_tags %}

{% block tbody %}
    <tr>
        <td class="content-block">
            <p xmlns="http://www.w3.org/1999/html">{% trans 'Hello,' %}</p>
            <p>{% blocktrans with order_number=order.number %}We are pleased to confirm your order {{ order_number }}
                has been received and
                will be processed shortly.{% endblocktrans %}</p>
        </td>
    </tr>

    <tr>
        <td class="content-block">
            <table class="order">
                <tbody>
                <tr>
                    <td>{% trans 'Your order contains:' %}</td>
                </tr>
                <tr>
                    <td>
                        <table class="order-items" cellpadding="0" cellspacing="0">
                            <tbody>
                            {% for line in order.lines.all %}
                                <tr>
                                    {% checkout_order_line_title order_line=line as line_title %}
                                    <td>{{ line_title }} &times; {{ line.quantity }}</td>
                                    <td class="alignright">{{ line.line_price_incl_tax|currency:order.currency }}</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td class="alignright">{% trans 'Basket total:' %}</td>
                                <td class="alignright">{{ order.basket_total_incl_tax|currency:order.currency }}</td>
                            </tr>
                            <tr>
                                <td class="alignright">{% trans 'Shipping:' %}</td>
                                <td class="alignright">{{ order.shipping_incl_tax|currency:order.currency }}</td>
                            </tr>
                            {% if order.data_for_voucher_notification %}
                                <tr>
                                    <td class="alignright">{{ order.data_for_voucher_notification.0 }}:</td>
                                    <td class="alignright">{{ order.data_for_voucher_notification.1 }}</td>
                                </tr>
                            {% endif %}
                            <tr class="total">
                                <td class="alignright" width="80%">{% trans 'Order Total:' %}</td>
                                <td class="alignright">{{ order.total_incl_tax|currency:order.currency }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td class="content-block">
            <p>{% trans 'Shipping address:' %}</p>
            <p>
                {% for field, value in order.shipping_address.get_data_for_notification.items %}
                    <span>{{ field }}</span>: <span>{{ value }}</span><br/>
                {% endfor %}
                <span>{% trans 'Shipping method' %}</span>: <span>{{ order.shipping_method }}</span>
            </p>
            {% if order.shipping_code == 'no-shipping-required' %}
                <p><a href="https://maps.app.goo.gl/TeTAdWe2z2ZDxBSF7">https://maps.app.goo.gl/TeTAdWe2z2ZDxBSF7</a></p>
            {% endif %}
        </td>
    </tr>

    {% if status_url %}
        <tr>
            <td class="content-block">
                {#            {% blocktrans %}You can view the status of this order by clicking <a href="{{ status_url }}" title="order status">here</a>{% endblocktrans %}#}
            </td>
        </tr>
    {% endif %}

{% endblock %}
