{% extends "oscar/base.html" %}
{% load static %}
{% load i18n %}
{% load static_url_param from common_filters %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'custom/build/css/main.min.css' %}?v={{ '18'|static_url_param }}" />
{% endblock %}

{% block layout %}
    <div class="wrapper">
        <header id="header" class="header">
            <div class="container">
                {% block navigation %}
                    <div class="header__content">
                        <a href="{{ homepage_url }}" class="header__logo header__logo-order">
                            <img src="{% static 'custom/build/img/logo-2.svg' %}" alt="logo-{{ shop_name }}">
                            <p>{% trans 'For children as for adults. even better.' %}</p>
                        </a>
                        <div class="header__right">
                            <div class="menu__search-icon">
                                <img src="{% static 'custom/build/img/search.svg' %}" alt="icon">
                            </div>
                            <div class="mini-basket-ajax mobile">
                                {% include "oscar/partials/mini_basket.html" %}
                            </div>
                            <div class="header__menu menu">
                                <div class="menu__icon"></div>
                                <nav class="menu__body">
                                    <div class="menu__container">
                                        <div class="menu__top">
                                            <form action="#" class="menu__item menu__item-search"
                                                  data-move="header__content,2,992">
                                                <button type="submit">
                                                    <img src="{% static 'custom/build/img/search.svg' %}" alt="icon">
                                                </button>
                                                <input type="text" placeholder="{% trans 'Search' %}">
                                            </form>

                                            <div class="menu__item">
                                                {% include 'oscar/partials/nav_accounts.html' %}
                                            </div>

                                            <a href="wish-list.html" class="menu__item">
                                                <img src="{% static 'custom/build/img/heart.svg' %}" alt="icon">
                                                {% trans 'wish list' %}
                                            </a>
                                            <div class="mini-basket-ajax">
                                                {% block mini_basket %}
                                                    {% include "oscar/partials/mini_basket.html" %}
                                                {% endblock %}
                                            </div>
                                            <a href="tel:48728888569" class="menu__item menu__item-tel">+4 872 88 88
                                                569 </a>
                                            {% include "partials/language-switcher-header.html" %}
                                        </div>
                                        <ul class="menu__list">
                                            <li>
                                                <a href="{% url 'django.contrib.flatpages.views.flatpage' 'about-us/' %}" class="{% block about_us_active %}{% endblock %}">
                                                    {% trans 'about us' %}
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{% url 'catalogue:index' %}" class="{% block catalogue_active %}{% endblock %}">
                                                    {% trans 'catalogue' %}
                                                </a>
                                            </li>
{#                                            <li>#}
{#                                                <a href="{% url 'contacts:become-our-partner' %}" class="{% block become_our_partner_active %}{% endblock %}">#}
{#                                                    {% trans 'Become our partner' %}#}
{#                                                </a>#}
{#                                            </li>#}
                                            <li>
                                                <a href="{% url 'django.contrib.flatpages.views.flatpage' 'brand-of-the-year/' %}" class="{% block brand_of_the_year_active %}{% endblock %}">
                                                    {% trans 'brand of the year' %}
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{% url 'contacts:contacts' %}" class="{% block contacts_active %}{% endblock %}">
                                                    {% trans 'Contacts' %}
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{% url 'django.contrib.flatpages.views.flatpage' 'size-guide/' %}" class="{% block size_guide_active %}{% endblock %}">
                                                    {% trans 'Find yor fit' %}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </header>
        <main class="main">
            {% block content_wrapper %}Content{% endblock %}
        </main>

        {% block facet-modal-window %}{% endblock %}

        {% include "oscar/partials/footer.html" %}
        {% block edit_flat_page %}{% endblock %}
    </div>
    {% block preloader %}{% endblock %}
{% endblock layout %}

{# Local scripts #}
{% block scripts %}
    <!-- Jquery and custom template scripts -->
    <script src="{% static 'custom/build/js/libs.min.js' %}?v=15"></script>
    <script src="{% static 'custom/build/js/app.min.js' %}?v={{ '18'|static_url_param }}"></script>
{% endblock %}

{% block onbodyload %}{% endblock %}