{% extends "oscar/layout.html" %}

{% load history_tags %}
{% load currency_filters %}
{% load reviews_tags %}
{% load product_tags %}
{% load display_tags %}
{% load i18n %}
{% load purchase_info_tags %}
{% load catalogue_tags %}
{% load catalogue_filters %}
{% load image_tags %}


{% block title %}
    {{ product.get_meta_title }} | {{ block.super }}
{% endblock %}

{% block description %}{% if product.get_meta_description %}{{ product.get_meta_description }}
	{% else %}
		{{ block.super }}
	{% endif %}

{% endblock %}

{% block catalogue_active %}active{% endblock %}

{% block content_wrapper %}
<section class="cart section-top">
	<div class="container">
        <ul class="breadcrumb">
            <li><a href="{{ homepage_url }}">{% trans "Home" %}</a></li>
            {% if product.is_child %}
                <li><a href="{{ product.parent.get_absolute_url }}">{{ product.parent.upc }}</a></li>
                <li>{{ product.upc }}</li>
            {% else %}
                <li>{{ product.upc }}</li>
            {% endif %}
        </ul>
        {% include "oscar/partials/alert_messages.html" %}
        <div class="cart__content">
			<div class="cart__left">
                {% block product_gallery %}
                    {% include "oscar/catalogue/partials/gallery.html" %}
                {% endblock %}
			</div>

			<div class="cart__right">
				<div class="cart__top">
					<div class="cart__numbers">{{ product.upc }}</div>
					<h2 class="cart__subtitle">weestep shoes</h2>
                    {% block product_stock_record %}
                        {% include "oscar/catalogue/partials/stock_record.html" with verbose=1 %}
                    {% endblock %}
                    <div class="cart__more">
                        <div class="cart__more-text">
                            <p>{{ product.get_parent.category_first.product_description }}</p>
                            <p class="cart__more-text--hide">{{ product.categories.first.product_long_description }}</p>
                        </div>
                        {% if product.is_parent %}
                            <div class="cart__more-btn" data-show="{% trans 'show more' %}"
                                 data-hide="{% trans 'hide' %}">
                                {% trans "show more" %}
                            </div>
                        {% endif %}
                    </div>
					<div class="cart__form">
						{% csrf_token %}
						<div class="color-select">
							<p class="color-select__selected">{% trans 'Color' %} <span></span></p>
							<ul class="color-select__list">
								<li class="color-select__item">
                                    <i class="color-select__btn btn-reset color-select__btn--active" data-color="black"
                                       style="background-color: {{ product.get_parent.attributes_container.color_hex_code.value }};"></i>
								</li>
								{% for recommended_product in product.get_parent.recommended_products.all %}
								<li class="color-select__item">
									<a href="{{recommended_product.get_absolute_url}}" title="{{recommended_product.upc}}" onclick="location.href = '{{recommended_product.get_absolute_url}}';">
										<i class="color-select__btn btn-reset" data-color="black"
										   style="background-color: {{recommended_product.attributes_container.color_hex_code.value}};"></i>
									</a>
								</li>
								{% endfor %}
							</ul>
						</div>

						<div class="cart-size">
							<p class="cart-size__name">{% trans 'Size' %}</p>
							<div class="cart-size__numbers">
                                {% if product.is_parent %}
                                    {% for child in product.children_ordered_by_size %}
                                        {% get_product_size_hyperlink_data product=child as size_link_data %}
                                        <a class="{{ size_link_data.link_class }}" href="{{ child|size_variation_url }}">{{ child.attributes_container.size.value }}</a>
                                    {% endfor %}
                                {% else %}
                                    <span>{{ product.attributes_container.size.value }}</span>
                                {% endif %}
							</div>
							<div class="cart-size__guide" data-move="cart__form,2,576" data-toggle="modal"
								 data-target="#sizeGuide">
								{% trans 'Size guide' %}
							</div>
						</div>
                        {% if not product.is_parent %}
                            {% block product_basket_form %}
                                {% include "oscar/catalogue/partials/add_to_basket_form.html" %}
                            {% endblock %}
                        {% endif %}
					</div>
				</div>

				<div class="cart__bottom">
					<div class="cart__info">
						<h3 class="cart__desc">{% trans 'design' %}</h3>
						<p class="cart__text">{{ product.get_parent.categories.first.product_design_description }}</p>
					</div>

					<div class="cart__info">
						<h3 class="cart__desc">{% trans 'Material' %}</h3>
						<ul class="cart__list">
							<li>{{ product.get_parent.attributes_container.material_verkha.value }}</li>
						</ul>
					</div>

					<div class="cart__info">
						<h3 class="cart__desc">{% trans 'Benefits' %}</h3>
						{{ product.get_parent.categories.first.product_benefits_description | safe }}
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="sizeGuide" tabindex="-1" aria-labelledby="sizeGuideLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="sizeGuideLabel">international sizes</h5>
					<button type="button" class="modal-close" data-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					{% include 'oscar/catalogue/partials/size-guide.html' %}
				</div>
				<div class="modal-footer">
					<a href="{% url 'django.contrib.flatpages.views.flatpage' 'size-guide/' %}" class="btn btn-orange">open size guide</a>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="like">
	<div class="container">
		<h1 class="title color-red">{% trans 'You may like' %}</h1>

		<div class="swiper like__swiper">
			<div class="swiper-wrapper shop__items">
				{% for recommended_product in product.get_parent.recommended_products.all %}
				<div class="swiper-slide">
					<a href="{{ recommended_product.get_absolute_url }}" class="shop__item" title="{{ recommended_product.title }}">
						<div class="shop__img">
							{% with image=recommended_product.primary_image %}
							{% oscar_thumbnail image.original "x155" upscale=False as thumb %}
								<img src="{{ thumb.url }}" alt="{{ recommended_product.get_title }}"/>
							{% endwith %}
						</div>

						<div class="shop-colors">
							<div class="shop-colors__numbers">
								{% get_child_products_sizes recommended_product.children.all as sizes %}
								{% for size in sizes %}
									<span>{{ size }}</span>
								{% endfor %}
							</div>
							<div class="cart__select cart__first-select color-select">
								<p class="color-select__selected">{% trans 'Color' %} <span></span></p>
								<ul class="color-select__list">
									<li class="color-select__item">
										 {% with image=recommended_product.primary_image %}
										 {% oscar_thumbnail image.original "x155" upscale=False as thumb %}
										 <i class="color-select__btn btn-reset color-select__btn--active" data-url="{{ thumb.url }}"
											data-product-url="{{ recommended_product.get_absolute_url }}"
											data-product-title="{{ recommended_product.title }}"
											style="background-color: {{recommended_product.attributes_container.color_hex_code.value}}"></i>
										 {% endwith %}
									</li>
									{% for recommended_of_recommended in recommended_product.recommended_products.all %}
										<li class="color-select__item">
											{% with image=recommended_of_recommended.primary_image %}
											{% oscar_thumbnail image.original "x155" upscale=False as thumb %}
											<i class="color-select__btn btn-reset"
											   data-url="{{ thumb.url }}"
											   data-product-url="{{ recommended_of_recommended.get_absolute_url }}"
											   data-product-title="{{ recommended_of_recommended.title }}"
											   data-color="orange"
											   style="background-color: {{ recommended_of_recommended.attributes_container.color_hex_code.value }}">
											</i>
											{% endwith %}
										</li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</a>
				</div>
				{% endfor %}
			</div>
			<div class="swiper-pagination"></div>
		</div>

	</div>
</section>
{% endblock %}

{% block extrascripts %}
    {{ block.super }}
{% endblock %}
