{% extends "oscar/layout.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load static %}
{% load currency_filters %}
{% load image_tags %}
{% load purchase_info_tags %}

{% block title %}{% trans 'Checkout' %} - {{ block.super }}{% endblock %}

{% block content_wrapper %}
    <section class="order section-top">
        <div class="container">
            <h1 class="title color-orange">{% trans 'Checkout' %}</h1>
            <ul class="breadcrumb">
                <li><a href="{{ homepage_url }}">{% trans "Home" %}</a></li>
                <li><a href="{% url 'basket:summary' %}">{% trans "Basket" %}</a></li>
                <li>{% trans 'Checkout' %}</li>
            </ul>

            {% include "oscar/partials/alert_messages.html" %}

            <form action="{% url 'checkout:index' %}" class="order__form" method="post">
                {% csrf_token %}
                <div class="order__left">
                    <div class="order-info">
                        <p class="order__title">{% trans "Recipient information" %}:</p>
                        {% if not form_is_valid %}
                            <div class="alert alert-danger">
                                <strong>{% trans "Oops! We found some errors" %}</strong>
                                - {% trans "please check the error messages below and try again" %}
                            </div>
                        {% endif %}
                        {% if shipping_address_form.non_field_errors %}
                            {% for error in shipping_address_form.non_field_errors %}
                                <div class="alert alert-danger">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                        {% for error in shipping_address_form.country.errors %}
                            <div class="alert alert-danger">Country: {{ error }}</div>
                        {% endfor %}
                        <div class="order-info__inputs">
                            <input type="hidden" name="country" value="ES">
                            <div class="order-info__input">
                                {% for error in shipping_address_form.first_name.errors %}
                                    <div class="alert alert-danger">{{ error }}</div>
                                {% endfor %}
                                {% render_field shipping_address_form.first_name class+="input" placeholder=shipping_address_form.first_name.label %}
                            </div>
                            <div class="order-info__input">
                                {% for error in shipping_address_form.last_name.errors %}
                                    <div class="alert alert-danger">{{ error }}</div>
                                {% endfor %}
                                {% render_field shipping_address_form.last_name class+="input" placeholder=shipping_address_form.last_name.label %}
                            </div>
                            <div class="order-info__input">
                                {% for error in shipping_address_form.phone_number.errors %}
                                    <div class="alert alert-danger">{{ error }}</div>
                                {% endfor %}
                                {% render_field shipping_address_form.phone_number class+="input" placeholder=shipping_address_form.fields.phone_number.widget.attrs.placeholder %}
                            </div>
                            <div class="order-info__input">
                                {% for error in shipping_address_form.email.errors %}
                                    <div class="alert alert-danger">{{ error }}</div>
                                {% endfor %}
                                {% render_field shipping_address_form.email class+="input" placeholder=shipping_address_form.email.label %}
                            </div>
                            <div class="order-info__input col1">
                                {% for error in shipping_address_form.line1.errors %}
                                    <div class="alert alert-danger">{{ error }}</div>
                                {% endfor %}
                                <textarea
                                        name="{{ shipping_address_form.line1.name }}"
                                        id=""
                                        rows="4"
                                        class="input"
                                        {% if shipping_address_form.line1.field.required %}required{% endif %}
                                        placeholder="{% trans 'Shipping address' %}">{% if shipping_address_form.line1.value %}
                                    {{ shipping_address_form.line1.value }}{% endif %}</textarea>
                            </div>
                        </div>
                    </div>

                    <div class="order-booking">
                        <div class="order__items">
                            {% for line in basket.all_lines %}
                                {% purchase_info_for_line request line as session %}
                                {#Проверить верстку блока ошибок#}
                                {% for field_errors in form.errors.values %}
                                    {% for error in field_errors %}
                                        <div class="alert alert-danger"><i class="fas fa-exclamation"></i> {{ error }}
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                                <div class="order__item">
                                    <div class="order__img">
                                        {% with image=line.product.primary_image %}
                                            {% oscar_thumbnail image.original "300x300" upscale=False as thumb %}
                                            <a href="{{ line.product.get_absolute_url }}">
                                                <img src="{{ thumb.url }}" alt="{{ product.get_title }}">
                                            </a>
                                        {% endwith %}
                                    </div>
                                    <div class="order__holder">
                                        <div class="order-shoes">
                                            <div class="order-shoes__desc">weestep shoes</div>
                                            <div class="order-shoes__item">
                                                <div class="order-shoes__color">
                                                    {% trans 'Color' %}
                                                    <span style="background-color: {{ line.product.attr.color_hex_code }};"></span>
                                                </div>
                                                <div class="order-shoes__size">
                                                    {% trans 'Size' %}
                                                    <span>{{ line.product.attr.size }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="order__box">
                                            <div class="order-count">
                                                <p>{{ line.quantity }}</p> <i>pairs</i>
                                            </div>
                                            <div class="order__price">
                                                <p>
                                                    {% if not show_tax_separately and line.is_tax_known %}
                                                        {{ line.line_price_incl_tax|currency:basket.currency }}
                                                    {% else %}
                                                        {{ line.line_price_excl_tax|currency:basket.currency }}
                                                    {% endif %}
                                                </p>
                                            </div>
                                            {#                                            <a href="#" class="order__close">#}
                                            {#                                                <img src="{% static 'custom/build/img/close-2.svg' %}" alt="icon"/>#}
                                            {#                                            </a>#}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <div class="order-booking__total">
                            <p>{% trans "In total" %}</p>
                            {#                            <p><span>980</span> <i>грн</i></p>#}
                            <p>
                                <span>
                                    {% if request.basket.is_tax_known %}
                                        {{ request.basket.total_incl_tax|currency:request.basket.currency }}
                                    {% else %}
                                        {{ request.basket.total_excl_tax|currency:request.basket.currency }}
                                    {% endif %}
                                </span>
                            </p>
                        </div>
                    </div>

                    <div class="order__payment">
                        <p class="order__title">{% trans 'Payment method' %}:</p>
                        {% if payment_method_form.non_field_errors %}
                            {% for error in payment_method_form.non_field_errors %}
                                <div class="alert alert-danger">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                        {% for error in payment_method_form.title.errors %}
                            <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                        {{ payment_method_form.title }}
                    </div>
                    <div class="order__delivery">
                        <p class="order__title">{% trans 'Shipping method' %}:</p>
                        {% if shipping_method_form.non_field_errors %}
                            {% for error in shipping_method_form.non_field_errors %}
                                <div class="alert alert-danger">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                        {% for error in shipping_method_form.method_code.errors %}
                            <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                        <div class="order__radio">
                            {% for value, choice in shipping_method_form.fields.method_code.choices %}
                                <label class="order__label">
                                    <input
                                            type="radio"
                                            name="{{ shipping_method_form.method_code.html_name }}"
                                            value="{{ value }}"
                                            {% if shipping_method_form.method_code.value == value %}checked{% endif %}
                                    >
                                    <span>
                                        <div class="shipping-method-name">
                                            {% if choice.show_name %}{{ choice.name }}{% endif %}
                                        </div>
                                    </span>
                                    {% if choice.image %}<img src="{{ choice.image }}" alt="image"/>{% endif %}
                                </label>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="order__comment">
                        <p class="order__title">{% trans 'Comment' %}:</p>
                        <div class="order-info__inputs col1">
                            <textarea
                                    name="{{ shipping_address_form.notes.name }}"
                                    id=""
                                    rows="3"
                                    class="input"
                                    placeholder="Notes">{% if shipping_address_form.notes.value %}
                                {{ shipping_address_form.notes.value }}{% endif %}</textarea>
                        </div>
                    </div>

                    {#                    <div class="order__btn">#}
                    {#                        <a href="#" class="btn btn-orange--transparent">Копировать в остальные заказы</a>#}
                    {#                    </div>#}
                </div>

                <div class="order__right">
                    <div class="order__all">
                        <div class="order-top">
                            <a href="{% url 'basket:summary' %}" class="order-top__back">{% trans "Go back" %}</a>
                            <p class="order-top__total">{% trans "Total" %}</p>
                        </div>

                        <div class="order-body">
                            <div class="order-body__item">
                                <div class="order-body__bottom">
                                    <p>
                                        {% blocktranslate count number=request.basket.num_items %}
                                            {{ number }} product valued at
                                            {% plural %}
                                            {{ number }} products valued at
                                        {% endblocktranslate %}
                                    </p>
                                    {#                                    <p><span>740</span> <i>грн</i></p>#}
                                    <p>
                                        <span>
                                            {% if request.basket.is_tax_known %}
                                                {{ request.basket.total_incl_tax|currency:request.basket.currency }}
                                            {% else %}
                                                {{ request.basket.total_excl_tax|currency:request.basket.currency }}
                                            {% endif %}
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="order-footer">
                            <p>{% trans "In total" %}</p>
                            {#                            <p><span>980</span> <i>грн</i></p>#}
                            <p>
                                <span>
                                    {% if request.basket.is_tax_known %}
                                        {{ request.basket.total_incl_tax|currency:request.basket.currency }}
                                    {% else %}
                                        {{ request.basket.total_excl_tax|currency:request.basket.currency }}
                                    {% endif %}
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="order__confirm">
                        <button type="submit" class="btn btn-orange">{% trans "Place your order" %}</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}

{% block onbodyload %}
    {{ block.super }}
    {# We pass in the URL to send AJAX requests to #}
    var options = {
    'basketURL': '{% url 'basket:summary' %}'
    };
    oscar.basket.init(options);
{% endblock %}
