{% extends "oscar/layout.html" %}
{% load i18n %}
{% load static %}
{% load currency_filters %}
{% load image_tags %}
{% load purchase_info_tags %}

{% block title %}
    {% blocktrans with number=order.number %}
        Order {{ number }}: confirmation
    {% endblocktrans %} | {{ block.super }}
{% endblock title %}

{% block content_wrapper %}
    <section class="order section-top">
        <div class="container">
            <h1 class="title color-orange">{% trans 'Thank you' %}</h1>
            <ul class="breadcrumb">
                <li><a href="{{ homepage_url }}">{% trans "Home" %}</a></li>
                <li>{% trans 'Thank you' %}</li>
            </ul>

            {% include "oscar/partials/alert_messages.html" %}

            <div id="messages">
                <div class="alert alert-dismissible alert-safe alert-noicon alert-success  fade show">
                    <div class="alertinner">
                        {% blocktrans with number=order.number %}
                        Your order has been placed and a confirmation email has been sent - your order number is
                        <strong>{{ number }}</strong>.
                        {% endblocktrans %}
                        {% trans "Please make a note of this reference or print this page and quote it in any communication with us regarding your order." %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block tracking %}
    {% if send_analytics_event %}
        {% include "oscar/partials/google_analytics_transaction.html" %}
    {% endif %}
{% endblock %}

{#{% block onbodyload %}#}
{#    {{ block.super }}#}
    {# We pass in the URL to send AJAX requests to #}
{#    var options = {#}
{#    'basketURL': '{% url 'basket:summary' %}'#}
{#    };#}
{#    oscar.basket.init(options);#}
{#{% endblock %}#}
