{% extends "oscar/layout.html" %}
{% load static %}
{% load i18n %}
{% load meta_title_filter meta_keywords_filter meta_description_filter from common_filters %}

{% block title %}{{ 'about-us'|meta_title_filter }}{{ block.super }}{% endblock %}
{% block description %}{% if 'about-us'|meta_description_filter %}{{ 'about-us'|meta_description_filter }}{% else %}{{ block.super }}{% endif %}{% endblock %}
{% block keywords %}{% if 'about-us'|meta_keywords_filter %}{{ 'about-us'|meta_keywords_filter }}{% else %}{{ block.super }}{% endif %}{% endblock %}

{% block about_us_active %}active{% endblock %}

{% block content_wrapper %}
<section class="bigger-wrap">
    <div id="be-bigger" class="be-bigger block-scroll">
        <div class="container">
            <div class="be-bigger__content">
                <div class="be-bigger__left">
                    <div class="be-bigger__info">
                        <h2 class="be-bigger__title color-teal">weestep be bigger</h2>
                        <p class="be-bigger__desc">{% trans 'We make shoes for children as for adults, ONLY BETTER!' %}</p>
                        <div class="be-bigger__btns">
                            <div class="item-0 element-show">
                                <a href="shop.html" class="be-bigger__btn btn btn-orange" data-move="be-bigger__item-sandals,1,992">sandals</a>
                            </div>
                            <div class="item-1">
                                <a href="shop.html" class="be-bigger__btn btn btn-orange" data-move="be-bigger__item-sneakers,1,992">sneakers</a>
                            </div>
                            <div class="item-2">
                                <a href="shop.html" class="be-bigger__btn btn btn-orange" data-move="be-bigger__item-boots,1,992">boots</a>
                            </div>
                            <div class="item-3">
                                <a href="shop.html" class="be-bigger__btn btn btn-orange" data-move="be-bigger__item-shoes,1,992">shoes</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="be-bigger__right">
                    <div data-color="#115e67" class="be-bigger__item be-bigger__item-sandals">
                        <div class="be-bigger__img">
                            <img src="{% static 'custom/build/img/be-bigger-1.jpg' %}" alt="image" />
                        </div>
                    </div>
                    <div data-color="#9d2b2e" class="be-bigger__item be-bigger__item-sneakers">
                        <div class="be-bigger__img">
                            <img src="{% static 'custom/build/img/be-bigger-2.jpg' %}" alt="image" />
                        </div>
                    </div>
                    <div data-color="#ff7c2a" class="be-bigger__item be-bigger__item-boots">
                        <div class="be-bigger__img">
                            <img src="{% static 'custom/build/img/be-bigger-3.jpg' %}" alt="image" />
                        </div>
                    </div>
                    <div data-color="#d9b89a" class="be-bigger__item be-bigger__item-shoes">
                        <div class="be-bigger__img">
                            <img src="{% static 'custom/build/img/be-bigger-4.jpg' %}" alt="image" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="be-bigger-end"></div>
</section>

<section class="attract-wrap">
    <div id="attract" class="attract block-scroll">
        <div class="attract-block">
            <div class="attract__content">
                <div class="attract__inner">
                    <div class="attract__img">
                        <img src="{% static 'custom/build/img/image-1.png' %}" alt="image" />
                    </div>
                    <div class="attract__desc">
                        <div class="block-scroll__content">
                            <div class="item-0 element-show">
                                <h2 class="attract__title">
                                    <p>attract</p>
                                    <p>develop</p>
                                    <p>surprise</p>
                                </h2>
                            </div>
                            <div class="item-1">
                                <p class="attract__text">
                                    {% trans 'For us, the fact that children do not wear shoes as long as their parents do, does not mean that it should be approached differently.' %}
                                    {% trans "We follow the trends in the world of adult fashion and transfer them to children's shoes." %}
                                    {% trans 'A child can and should choose and wear what he or she likes.' %}
                                    {% trans 'Because, after all, children are just small adults.' %}
                                </p>
                                <div class="attract__btn">
                                    <a href="{% url 'django.contrib.flatpages.views.flatpage' 'about-us/' %}" class="btn btn-white">{% trans 'about us' %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="attract-end"></div>
</section>

<section class="just-scan">
    <div class="container">
        <div class="just-scan__content">
            <div class="just-scan__left">
                <h2 class="just-scan__title">just scan</h2>
                <p class="just-scan__text">
                    {% trans "Our shoes are designed for thousands of kilometers of children's run." %}
                    {% trans "80% of the models in the range are made of leather, and all of the models have 100% leather insole and arch support." %}
                </p>
            </div>
            <div class="just-scan__model">
                <model-viewer class="model" bounds="tight" src="{% static 'custom/model/baked.glb' %}" camera-controls environment-image="neutral" poster="{% static 'custom/model/3d-poster.webp' %}" shadow-intensity="1">
                    <div class="progress-bar hide" slot="progress-bar">
                        <div class="update-bar"></div>
                    </div>
                </model-viewer>
            </div>
        </div>
    </div>
</section>

{% include 'partials/countries-stripe.html' %}

{% endblock %}

{% block extrascripts %}
    {{ block.super }}
    <!-- 3D -->
	<script type="module" src="{% static 'custom/build/js/model-viewer.min.js' %}"></script>
{% endblock %}