{% load static %}
{% load i18n %}

<footer class="footer">
	<div class="container">
		<div class="footer__content">
			<div class="footer__top">
				<a href="{{ homepage_url }}" class="footer__logo">
					<img src="{% static 'custom/build/img/logo.svg' %}" alt="logo-{{ shop_name }}">
				</a>
				<ul class="footer__list">
					<li>
						<a href="{% url 'django.contrib.flatpages.views.flatpage' 'about-us/' %}">{% trans 'about us' %}</a>
					</li>
					<li>
						<a href="{% url 'contacts:become-our-partner' %}" class="{% block become_our_partner_active %}{% endblock %}">
							{% trans 'Become our partner' %}
						</a>
					</li>
<!--					<li>-->
<!--						<a href="shop.html">Каталог</a>-->
<!--					</li>-->
					<li>
						<a href="{% url 'contacts:contacts' %}">{% trans 'Contacts' %}</a>
					</li>
					<li>
						<a href="{% url 'django.contrib.flatpages.views.flatpage' 'size-guide/' %}">{% trans 'Find yor fit' %}</a>
					</li>
				</ul>

				<ul class="footer__list">
					<li>
						<a href="https://www.tiktok.com/@weestep_kids_alicante" target="blank" rel="nofollow">tiktok</a>
					</li>
					<li>
						<a href="https://www.instagram.com/weestep_kids_alicante" target="blank" rel="nofollow">instagram</a>
					</li>
					<li>
						<a href="https://www.facebook.com/profile.php?id=61554203151592" target="blank" rel="nofollow">facebook</a>
					</li>
				</ul>

				<div class="footer__info">
					<a href="#">{% trans 'Private policy' %}</a>
					<a href="#">{% trans 'Terms & conditions' %}</a>
				</div>
                {% include "partials/language-switcher-footer.html" %}
			</div>

			<div class="footer__bottom">
                {#				<p>(с) 2022 All rigths reserved</p>#}
                
                {#				<p>Website: weestep.eu</p>#}
			</div>
		</div>
	</div>
</footer>