{% extends "oscar/layout.html" %}
{% load static %}
{% load i18n %}
{% load meta_title_filter meta_keywords_filter meta_description_filter from common_filters %}

{% block title %}{{ 'contacts'|meta_title_filter }}{{ block.super }}{% endblock %}
{% block description %}{% if 'contacts'|meta_description_filter %}{{ 'contacts'|meta_description_filter }}{% else %}{{ block.super }}{% endif %}{% endblock %}
{% block keywords %}{% if 'contacts'|meta_keywords_filter %}{{ 'contacts'|meta_keywords_filter }}{% else %}{{ block.super }}{% endif %}{% endblock %}

{% block contacts_active %}active{% endblock %}

{% block content_wrapper %}

<section class="contacts section-top">
    <div class="container">
        <h1 class="contacts__title title color-orange">contacts</h1>
        <div class="contacts__content">
            <h2 class="contacts__subtitle">weestep sp. z o.o.</h2>
            <div class="contacts__address">
                <address>
                    <a target="blank" href="https://www.google.com/maps/place/Weestep+Kids/@38.3451796,-0.4898472,17z/data=!3m1!4b1!4m6!3m5!1s0xd623756defcf3f7:0x78e330b29a88f2f8!8m2!3d38.3451796!4d-0.4872723!16s%2Fg%2F11vjdvrb87?entry=ttu">Carrer Jerusalem, 24, 03001 Alacant, Alicante</a>
                </address>
                <a href="tel:+34611822584">+34611822584</a>
                (<a href="https://api.whatsapp.com/send/?phone=+34611822584">WhatsApp</a>, <a target="blank" href="https://www.instagram.com/weestep_kids_alicante/"><i class="fab fa-instagram-square"></i> Instagram</a>)
            </div>
            <a href="mailto:sale@weestep.pl" class="contacts__mail">sale@weestep.pl</a>
            {% include 'contacts/become-our-partner-form.html' %}
        </div>
    </div>
</section>

{% endblock %}

{% block extrascripts %}
    {{ block.super }}
{% endblock %}